*{
    box-sizing: border-box;
  }
body{
	background-image: url('https://cdn.pixabay.com/photo/2017/01/11/18/35/blur-1972569_960_720.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width:auto;
}

.header{
	margin-top: 0px;
	position: absolute;
	top: 0;
	width: 100%;
}
.left{
	float: left;
	
}
.mid{
	float: left;
	    position: absolute;
    left: 437px;
}
 
  .navbar{
    background-color: gray;
    height: 88px;
    padding: 15px 15px;
    
    
  }
  .navbar li a{
    text-decoration-line: none;
    font-family: sans-serif;
    color: greenyellow;
    
    padding: 14px;
    font-size: 25px;
  }
  .navbar li{
    float: left;
    list-style-type: none;
  }
  .navbar li a:hover{
      background-color:indianred ;
        
            color: gray;

    }
   .navbar li a:active{
      background-color: orangered;
      text-decoration: underline;
    }
    .container{
    	float: right;
    	height: 375px;
    width: 459px;
    	border: 2px solid black;
    	position: absolute;
    	top: 141.1px;;
    right: 30px;
        background-color: black;
    color: white;
          
    }
    .form input{
      text-align: center;
      height: 40px;
    width: 415px;


    }
    .form{
      text-align: center;
          margin-top: 23px;
    }
    .btn{
        position: relative;
    left: 116px;
    top: 21px;
    width: 216px;
    background-color: #90a5a4
    }