* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  transition: 0.5s;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  text-decoration-line: none;
}

/* Loader */

.loader {
  background: #fff;
  background: radial-gradient(rgb(211, 199, 199), rgb(214, 174, 174));
  bottom: 0;
  left: 0;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99999;
}

.loader-inner {
  bottom: 0;
  height: 60px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  box-sizing: border-box;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  width: 100px;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  box-sizing: border-box;
  height: 100px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: hsl(0, 80%, 60%);
  height: 90px;
  width: 90px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: hsl(60, 80%, 60%);
  height: 76px;
  width: 76px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: hsl(120, 80%, 60%);
  height: 62px;
  width: 62px;
  top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: hsl(180, 80%, 60%);
  height: 48px;
  width: 48px;
  top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: hsl(240, 80%, 60%);
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
.logo {
  height: 89px;
  width: 109px;
  position: relative;
  left: 10%;
  top: 9px;
}
.logo img {
  filter: brightness(1.3);
  height: 100%;
  width: 100%;
}
.navbar {
  display: flex;
  /* justify-content: space-between; */
  height: auto;
  position: relative;
  top: 0px;
  height: 90px;
  width: 100vw;
  color: #1d0d0d;
  -webkit-box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);
  box-shadow: 0px 2px 25px rgb(0 0 0 / 10%);

  background-color: #fff;
  z-index: 450;
  overflow-y: hidden;
}

.menu {
  padding: 6px;
  margin-top: 2px;
  display: flex;
  width: auto;
  height: 52px;
  position: relative;
  top: 26px;
  font-family: "Muli", sans-serif;
  left: 40%;
}

.menu .menulist {
  display: flex;
  justify-content: space-between;
}

.menulist li a {
  font-size: 25px;
  margin: auto 12px;
  font-weight: 300;
  padding: 4px;
  transition: 0.3s;
}

.menulist li a:hover {
  color: rgb(42, 157, 143);
  cursor: pointer;
  font-weight: 400;
}

.menulist ul {
  position: relative;
  right: 1%;
}

/* Image */
.image {
  width: 100vw;
  position: relative;
  margin-bottom: 45px;
}
.image img {
  height: 409px;
  width: 100%;
  /* z-index: -2; */
}
.image .overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  /* z-index: 50; */
  background-color: rgb(180 88 199 / 18%);
}
.overlay h1 {
  position: absolute;
  top: 37%;
  left: 45%;
  font-size: 3.6rem;
  color: blanchedalmond;
}

/* careers */

.careers {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 85%;
}
.career-cont {
  margin-bottom: 50px;
}

.career-cont > p {
  font-size: 1.5rem;
  line-height: 1.6;
}

.list {
  margin-top: 12px;
  margin-bottom: 10px;
}
.list > p {
  position: relative;
  padding: 5px;
  background-color: white;
  color: #444;
  cursor: pointer;
  font-size: 2rem;
  transition: 0.3s;
}
.list > p:hover {
    color: #fff;
    background-color: rgb(112 87 212);
}
.list > p a {
  position: absolute;
  right: 2%;
  border: none;
}
.list .fa{
  font-size: 1.4rem;
}
.list .fa-minus {
  display: none;
}

.sub {
  background-color: #eee;
  padding: 10px;
  display: none;
}
.sub h3 {
  font-size: 1.4rem;
  margin: 6px auto;
}
.sub p {
  margin: 6px auto;
  font-size: 1rem;
  line-height: 1.5;
}
.sub h4 {
  font-size: 1.2rem;
}

/* Footer */

.footer {
  margin-top: 45px;
  background-color: #20333a;
  color: rgb(235, 224, 224);
  height: 331px;
  position: relative;
  /* color: rgb(199, 162, 162); */
}

.foot-cont {
  position: absolute;
  top: 26%;
  width: 90%;
  margin: auto;
  left: 3%;
}

.foot-row {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  position: relative;
}

.foot-row .f-col-1 {
  line-height: 6;
  display: flex;
}

.f-col-1 a {
  cursor: pointer;
  font-size: 20px;
}

.f-col-1 a:hover {
  color: red;
}

.f-col-1 a:nth-child(1) {
  margin-right: 80px;
}

.foot-row .f-col-2 {
  position: absolute;
  right: 43%;
}
.foot-row .f-col-2 img {
  height: 123px;
  width: "150px ";
}

.foot-row .f-col-3 {
  line-height: 9;
  position: absolute;
  right: 0;
}

.f-col-3 i {
  font-size: 36px;
  margin: auto 12px;
  cursor: pointer;
}

.f-col-3 i:hover {
  color: tomato;
}

.foot-cont-2 {
  position: absolute;
  /* position: absolute; */
  top: 76%;
  width: 100%;
}
