  
#navbar ul li{
   
    font-size: 1.1rem;
}


#navbar ul li a {
	    padding: 3px 9px;
    border-radius: 14px;
        font-size: 1rem;
}

  
  #logo img {
      height: 81px;
  }

#home{
	padding: 3px 114px;
	    font-size: 12px;
}

#services{
        display: flex;
    flex-direction: column;
    align-items: center;
        
}


#clients .client-item {
    margin: 3px;
}
#clients > div.client-item.g > img{
	    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 120px;
    width: 74px;
}
#clients > div.client-item.f > img{
	    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 104px;
    width: 100px;
}
#clients > div.client-item.c > img{
	    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 110px;
    width: 83px;
}
#sub{
	       width: 46%;
	       font-size: 14px;
}