/* Nav */
#navbar{
	flex-direction: column;
}

/* Home*/
#home{
	height: 370px;
}
#home::before{
	height: 575px;
}
#home p{
	font-size: 13px;
	text-align: center;
}

/*Services*/


#services{
	flex-direction: column;
}

/* Clients*/
#clients{
	overflow: hidden;
}

/* Contacs */





/* footer */