* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}


/*Header*/

.container-header {
    margin-bottom: 80px;
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.backgrnd-img {
    width: 100%;
    height: 100vh;
}

.backgrnd-img img {
    width: 100%;
    height: 100%;
    position: absolute;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    15% {
        transform: scale(1);
    }
    85% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
}

.overlay .logo {
    height: 113px;
    width: 174px;
    filter: brightness(2.5);
    position: relative;
    left: 112px;
    top: 8px;
}

.overlay .logo img {
    height: 100%;
    width: 100%;
}

.overlay .navbar {
    display: flex;
    /* justify-content: space-between; */
    height: auto;
    position: relative;
    top: 7px;
    width: auto;
}

.overlay .menu {
    padding: 36px;
    margin-top: 2px;
    display: flex;
    width: auto;
    position: relative;
    left: 20%;
}

.menu .menulist {
    display: flex;
    justify-content: space-between;
}

.menulist li {
    font-size: 25px;
    color: white;
    margin: auto 12px;
    font-weight: bold;
    padding: 4px;
    transition: 0.3s;
}

.menulist li:hover {
    color: rgb(228, 10, 10);
    cursor: pointer;
    font-weight: bolder;
}

.menulist ul {
    position: relative;
    right: 1%;
}

.hello {
    font-size: 25px;
    color: white;
    margin: auto 12px;
    font-weight: bold;
    padding: 4px;
    transition: 0.3s;
    position: absolute;
    top: 33%;
    right: 19px;
}

.hello::after {
    content: '';
    width: 95%;
    position: absolute;
    bottom: -5px;
    height: 3px;
    background-color: #ea0d0d;
}

.sayHello {
    cursor: pointer;
}

.overlay-cont {
    color: white;
    position: absolute;
    top: 43%;
    left: 21%;
    width: 60%;
    text-align: center;
}

.overlay-cont h1 {
    font-size: 45px;
}

.overlay-cont p {
    font-size: 23px;
    margin-top: 12px;
}

.btn {
    height: 56px;
    width: 282px;
    margin-top: 25px;
    border-radius: 11px;
    background-color: #b5b9ff;
    font-size: 25px;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: red;
    color: white;
}


/* #preloader {
    background: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} */


/* About */

.about-us {
    margin-top: 55px;
    margin-bottom: 81px;
}

.row {
    display: flex;
    flex-direction: row;
}

.abt-col {
    height: autp;
    width: 48%;
}

.abt-col img {
    height: 505px;
}

.abt-col2 {
    background-color: #1f1f1f;
    height: 505px;
    width: 52%;
}

.abt-text {
    position: relative;
    top: 24%;
    width: 66%;
    left: 12%;
    color: #c9c9c9;
    font-weight: 400;
    height: 280px;
}

.abt-text h1 {
    font-size: 40px;
    margin-top: 18px;
    margin-bottom: 40px;
}

.abt-text span {
    font-size: 19px;
}

.abt-text p {
    font-size: 16px;
}

.btn-1 {
    background-color: #615cfd;
    padding: 12px 33px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 30px;
    text-align: center;
    color: #fff !important;
    text-transform: capitalize;
    transition: 0.5s;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}

.btn-1:hover {
    background-color: #1f1f1f;
    border: 1px solid #615cfd;
    color: #615cfd;
}


/* Services */

.services {
    margin-top: 47px;
    margin-bottom: 45px;
}

.services p {
    font-size: 40px;
    line-height: 52px;
    font-weight: 400;
    color: #1f1f1f;
    position: relative;
    padding-bottom: 15px;
}

.ser-cont {
    margin: auto;
    width: 74%;
    text-align: center;
}


/* Career */

.careers {
    margin-bottom: 45px;
    margin-top: 45px;
}

.career-cont {
    margin: auto;
    width: 74%;
}

.career-cont h1 {
    text-align: center;
    margin: 18px auto;
}

.career-cont p {
    margin: 11px auto;
    font-size: 19px;
    line-height: 1.9;
    text-align: justify;
}

.check-btn {
    color: tomato;
    border: 2px solid tomato;
    width: 213px;
    padding: 7px;
    margin-bottom: 12px;
    font-weight: 800;
    cursor: pointer;
    background-color: transparent;
}

.check-btn:hover {
    color: white;
    background-color: tomato;
}


/* Testimonials */

.testimonials {
    margin-bottom: 45px;
    margin-top: 80px;
    /* background: linear-gradient( 90deg, #26395c, #2f5277, #396d91, #4589aa, #54a6c1, #68c3d7, #80e1eb, #9dfffd); */
    height: 350px;
    background-color: #dc5f5f;
    /* background-image: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%); */
    /* background: url('images/background.jpg'); */
}

.test-cont {
    margin: auto;
    width: 50%;
    position: relative;
    top: 11%;
    font-weight: 600;
    color: floralwhite;
}

.test-cont .item img {
    text-align: center;
    width: 9%;
    height: 49px;
    margin: auto;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 19px;
}

.carousel-details {
    text-align: center;
}

.item p {
    text-align: center;
    font-size: 22px;
    margin-top: 12px;
}


/* Get in Touch */

.touch {
    margin-top: 45px;
    margin-bottom: 45px;
}


/* Footer */

.footer {
    margin-top: 45px;
    background-color: black;
    color: rgb(235, 224, 224);
    height: 250px;
    /* color: rgb(199, 162, 162); */
}

.foot-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}